# Dependencias de Composer
/vendor/

# Archivos de configuración local
.env
.env.local

# Logs
*.log

# Archivos temporales
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Archivos de Docker
docker-compose.override.yml

# Archivos de IDE
.vscode/
.idea/

# Carpetas de imagenes (ignoramos todo menos obras-optimized)
assets/images/obras/
assets/images/obras-upscaled/
assets/images/obras-*/

# Pero permitir obras-optimized
!assets/images/obras-optimized/
